<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/static/multiple-select/multiple-select.css" rel="stylesheet">
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/multiple-select/jquery.multiple.select.js"></script>
<script src="/static/js/admin.js" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
    $("#addTable").click(function(){
       var tr="<tr><td align=\"left\" valign=\"middle\"><select name=\"act_type\" id=\"act_type\" class=\"form_2 w300\"><option value='' selected=\"selected\">请选择角色</option>{% for role in roles %}<option value={{ role.id }}>{{ role.zh_name }}</option>{% endfor %}</select></td></tr>"
　  　$("#table").append(tr);
    });

    $("#deleteTable").click(function(){
        document.getElementById('table').deleteRow(-1);
    });

    $('#name').change(function(){
        var name = $(this).val();
        if(/[\u4E00-\u9FA5]/g.test(name)){ 
            alert("工单名不能存在汉字");
            $(this).val('');
            return False;
        }
    });

    $('#submit').click(function(){
        var act = $("#act").val();
        var name = $("#name").val();
        var title = $("#title").val();
        var desc = $("#desc").val();
        var is_active = $("input[name='is_active']:checked").val();
        var flow = [];
        $('table select').each(function(){
            flow.push($(this).val()); 
        });
        var flow = flow.join("-");
        $.post("{% url 'workflow:ajax_order' %}", {"act":act, "name":name, "title":title, "desc":desc, "is_active":is_active, "flow":flow}, function(json){ 
            alert(json);
            window.close();
            window.parent.opener.location.reload();
        });
    });
});
</script>
<div class="adminTable">
<div class="infoForm">
<h3>{{title}}</h3>
<input id="act" name="act" type="hidden" value="add">
<label class="control-label">工单名(英文)</label>
<input id="name" type="text" class="form_2" placeholder='cicd'><br><br>
<label class="control-label">标题</label>
<input id="title" type="text" class="form_2" placeholder='申请CICD发布权限'><br><br>
<label class="control-label">描述</label>
<input id="desc" type="text" class="form_2" placeholder='申请CICD发布权限'><br><br>
<label class="control-label">是否激活</label>
<label> <input type="radio" name="is_active" checked="checked" value="1">激活 </label>
<label> <input type="radio" name="is_active" value="0">禁用</label><br><br>
<input id="addTable" type="submit" value="添加审批流程" class="Btn" />
<input id="deleteTable" type="submit" value="删除审批流程" class="Btn" /><br><br>
<table id="table" border="0" cellspacing="0" cellpadding="0">
<thead>
</thead> 
<tbody> 
{% for role_id in role_ids %}
  <tr>
    <td align="left" valign="middle">
        <select class="form_2 w300">
            <option value='' selected="selected">请选择角色</option>
            {% for role in roles %}
            <option value={{ role.id }}>{{ role.zh_name }}</option>
            {% endfor %}
        </select>
    </td>
  </tr>
{% endfor %}
</tbody> 
</table><br>
<input id="submit" type="submit" value="提交" class="Btn" />
</div>
<br>
创建工作流说明：(以创建申请CICD发布权限工作流为例)<br>
1.提交创建工作流表单，系统会自动创建工单模板和处理脚本;<br>
2.修改工单表单模板 mysite/templates/workflow/cicd_form.html;<br>
3.修改工作流视图文件，表单数据定义 workflow/views.py;<br>
4.编写工单处理脚本 workflow/scripts/cicd.sh;<br>
</div>
</body>
</html>
