<div class="adminTable">
<div class="infoForm">
<h3>{{ work_order_title }}</h3>
<label class="control-label" for="inputEmail">申请原因</label>
<br><br>
<textarea id="reason" name="reason" cols="" rows="" class="form_7" style="width:60%;height:300px;" {% if not display_submit %}readonly="true"{% endif %}>{{ data.reason }}</textarea>

<br><br>
{% if display_submit %}
<label class="control-label" for="inputEmail">审批人: </label>
<select name="next_user" id="next_user" class="form_2 w150">
    <option value='' selected="selected">请选择审批人</option>
{% for user in next_users %}
    <option{% ifequal user.username next_user %} selected="selected"{% endifequal %} value={{ user.username }}_{{ user.email }}>{{ user.username }}_{{ user.last_name }}</option>
{% endfor %}
</select>
<br><br>
<input id="submit" name="submit" type="submit" value="提交" class="Btn" />
{% endif %}
</div>
</div>
