<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/static/multiple-select/multiple-select.css" rel="stylesheet">
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/multiple-select/jquery.multiple.select.js"></script>
<script src="/static/js/admin.js" type="text/javascript"></script>
<style>
 .progressBar{width:200px;height:8px;border:1px solid #98AFB7;border-radius:5px;margin-top:10px;}
 #bar{width:0px;height:8px;border-radius:5px;background:#5EC4EA;}
</style>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
    $('#submit').click(function(){
        var act = $("#act").val();
        var task_id = $("#task_id").val();
        var act_opinion = $("#act_opinion").val();
        var next_user = $("#next_user").val();
        var act_type = $("#act_type").children('option:selected').val();
        if(act_type != 1 && ! act_opinion){
            alert('撤销或回退必须说明理由');
        }else if ($("#next_user").length > 0 && ! next_user){
            alert('请选择审批人');
        }else {
            if(confirm("确认提交吗？")){ 
                $.post("{% url 'workflow:ajax_task' %}", {"act":act, "task_id":task_id, "act_type":act_type, "act_opinion":act_opinion, "next_user":next_user}, function(json){ 
                    alert(json);
                    //window.parent.location.reload();
                    if (window.opener && !window.opener.closed) {
                        window.parent.opener.location.reload();
                    }
                    window.close();
                });
            }
        }
    });
});
</script>
<div class="adminTable">
<div class="infoForm">
<h3>申请人信息</h3>
<label class="control-label" for="inputEmail">姓名</label>
<input id="act" name="act" type="hidden" class="form_2 searchIpnutBtn" value="audit">
<input id="task_id" name="task_id" type="hidden" class="form_2 searchIpnutBtn" value="{{ task_id }}">
<input id="creator" name="creator" type="hidden" class="form_2 searchIpnutBtn" value="{{ creator }}">
<input id="creator_name" name="creator_name" type="text" class="form_2 searchIpnutBtn" value="{{ creator_name }}" readonly="true">
<label class="control-label" for="inputEmail">邮箱</label>
<input id="creator_mail" name="creator_mail" type="text" class="form_2 searchIpnutBtn" value="{{ creator_mail }}" readonly="true">
<label class="control-label" for="inputEmail">申请时间</label>
<input id="creator_mail" name="creator_mail" type="text" class="form_2 searchIpnutBtn" value="{{ create_time }}" readonly="true">
</div>
</div>
{% include template_name %}
{% if display_log %}
<div class="adminTable">
<div class="infoForm">
<h3>执行日志</h3>
<div class="progressBar"><div id="bar" style="width:{% widthratio task_mark_percent 1 2 %}px"></div></div><br>
<textarea id="log" name="log" cols="" rows="" class="form_7" style="width:60%;height:100px;">{{ log }}</textarea>
</div>
</div>
{% endif %}
<div class="adminTable">
<div class="infoForm">
<h3>处理意见</h3>
<select name="act_type" id="act_type" class="form_2 w150">
{% for k,v in cur_act_type_dict.items %}
    <option value={{ k }} {% ifequal k 1 %} selected="selected"{% endifequal %}>{{ v }}</option>
{% endfor %}
</select><br><br>
<label class="control-label" for="inputEmail">说明</label>
<br><br>
<textarea id="act_opinion" name="act_opinion" cols="" rows="" class="form_4" style="width:30%;height:100px;"></textarea>
<br><br>
{% if display_users %}
<label class="control-label" for="inputEmail">审批人: </label>
<select name="next_user" id="next_user" class="form_2 w150">
{% ifnotequal next_users|length 1 %}<option value='' selected="selected">请选择审批人</option>{% endifnotequal %}
{% for user in next_users %}
    <option{% ifequal user.username next_user %} selected="selected"{% endifequal %} value={{ user.username }}_{{ user.email }}>{{ user.username }}_{{ user.last_name }}</option>
{% endfor %}
</select>
<br><br>
{% endif %}
<input id="submit" name="submit" type="submit" value="提交" class="Btn" />
</div>
</div>
<div class="adminTable">
<div class="infoForm">
<h3>流程</h3>
START->{{work_order_flow|get_flow_names}}->{{ role_dict.0 }}->END
</div>
</div>
<div class="adminTable">
<div class="infoForm">
<h3>处理人意见</h3>
{% for row in task_log %}
<label class="control-label" for="inputEmail">{{ row.create_time}}  {{ role_dict|get_item:row.role_id }}:{{ row.username }}({{ act_type_dict|get_item:row.act_type }})</label><br>
<label class="control-label" for="inputEmail">{{ row.act_opinion }}</label><br><br>
{% endfor %}
</div>
</div>
</body>
</html>
